/* reset */
/*  getting font */
@import url('https://fonts.googleapis.com/css2?family=Noto+Sans+KR:wght@300;400;500&display=swap');
/* html */
body { 
  /* box */
  font-size: 0;
  /* new font */
  font-family: 'Noto Sans KR', sans-serif;
  font-weight: 500;
  font-style: normal;
}
a {
  text-decoration-line: none;
  color: #000000;
}

.sectionSlider {
  position: absolute;
  left: 0;
  display: flex;
  justify-items: left;
  transition: 0.5s;
  /* pointer-events: none; 이거 때문에 다른 슬라이드 동작 안함 ㅜㅜ*/
}

.wrap {
  position: relative; /*여기 속성명을 position으로 안하고 display로 써서 적용 안됨! */
  margin: 0 auto;
  padding-top: 12px;
  width: 375px;
  height: 756px;
  overflow: hidden;
  background-color: #EEEBE5;
  border: 1px solid black;
  
  /* prohibiting drag */
  -ms-user-select: none; 
  -moz-user-select: -moz-none;
  -khtml-user-select: none;
  -webkit-user-select: none;
  user-select: none;
}
section {
  background-color: #EEEBE5;;
}


/* header */
header {
  padding: 0 21px 0 27px;
  margin-bottom: 33px;
}
header > .headerWrap {
  position: relative;
  width: 327px;
  height: 43px;
}
header > .headerWrap > img {
  position: absolute;
  top: 0;
  left: 0;
  width: 43px;
  height: 43px;
}
header > .headerWrap > strong {
  display: block;
  width: 50px;  /* 원래 49여야됨 */
  height: 100%;
  padding: 0 150px 0 128px;
  font-size: 18px;
  line-height: 27px;
  display: flex;
  align-items: center;
}
header > .headerWrap > div {
  position: absolute;
  top: 9px;
  right: 0;
  display: flex;
  align-items: center;
  margin: auto 0;
  width: 66px;
  height: 24px;
}
header > .headerWrap > div > .qr {
  width: 24px;
  height: 21px;
}
header > .headerWrap > div > .search {
  width: 24px;
  height: 24px;
}
header > .headerWrap > div > img ~ img {
  margin-left: 18px;
}


/* account */
.account {
  padding: 0 48px;
  width: 279px; /* -95 padding */
  height: 155px;
}
.account > .account__main {
  position: relative;
  width: 267px; /* -12 padding, - */
  height: 143px; /* -12 padding, - */
  padding: 6px;
  background-color: #fff;
  border-radius: 12px;}

.account > .account__main > .accountNum {
  display: block;
  width: 135px;
  height: 21px;
  margin: 8px 64px 16px 67px; /* -6 padding(except bottom)*/
  color: #858585;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
}
.account > .account__main > .accountMoney{
  display: block;
  width: 160px;
  height: 36px;
  margin: 0 53px 16px 53px; /* -6 padding(except top, bottom)*/
  font-size: 24px;
  line-height: 1.5;
  text-align: center;
  letter-spacing: 2px;
}
.account > .account__main > .accountMoney > .monetaryUnit{
  font-size: 14px;
  line-height: 1.5;
  letter-spacing: 2px;
}
.account > .account__main > .send {
  position: absolute;
  width: 26px;
  height: 21px;
  top: 14px;
  right: 17px;
  font-size: 14px;
  line-height: 1.5;
}
.account > .account__main > .moneyResult {
  position: relative;
  width: 233px;
  height: 17px;
  margin: 0 39px 0 26px; /* -6 padding(except top, bottom)*/
}
.account > .account__main > .moneyResult > .moneyGraph {
  position: relative;
  display: flex;
  width: 202px;
  height: 17px;
  margin-bottom: 8px;
  align-items: center;
  justify-content: center;
}
.account > .account__main > .moneyResult > .moneyGraph > .budget {
  width: 202px;
  height: 6px;
  background-color: #C4C4C4;
}
.account > .account__main > .moneyResult > .moneyGraph > .budget > .expenditure {
  width: 128px; /* %로 변경 */
  height: 100%;
  background-color: #FFDB4C;
  position: relative;
}
.account > .account__main > .moneyResult > .moneyGraph > .budget > .expenditure > .outer__limit {
  position: absolute;
  top: -6px;
  right: -4px;
  width: 8px;
  height: 17px;
  background-color: #FFF;
}
.account > .account__main > .moneyResult > .moneyGraph > .budget > .expenditure > .outer__limit > .inner__limit {
  margin: auto;
  width: 4px;
  height: 100%;
  background-color: #FF5F00;
  border-radius: 2px;
}
.account > .account__main > .moneyResult > img {
  position: absolute;
  width: 24px;
  height: 24px;
  top: -5px;
  right: 0;
}
.account > .account__main > .moneyResult > .restMoney {
  display: block;
  width: 158px;
  height: 21px;
  margin: 0 23px 0 29px;
  color: #858585;
  font-size: 14px;
  line-height: 1.5;
  text-align: center;
}

/* account ad */
.account__ad {
  width: 262px;
  height: 19px;
  padding: 24px 70px 21px 43px;
}
.account__ad > .banner {  
  font-size: 14px;
  line-height: 1.5;
  margin:
}
.account__ad > .banner > strong {}
.account__ad > .banner > a { margin-left: 0px; text-decoration-line: underline; }
/* magin left 정확히 조정 */

/* contents - 마진값 조절하기 */
.contents {
  width: 375px;
  height: 637px;
    /* overflow: hidden; */
  position: relative;
  background-color: #F5F5F5;
  border-radius: 30px 30px 0 0;
  transition: 0.5s;
  transform: translateY(0);
}
.contents > .contents__button {
  position: absolute;
  top: -4px;
  left: 35%;
  margin: 0 auto;
  width: 106px;
  height: 17px;
  display: flex;
  align-items: center;
}
.contents > .contents__button > .buttonIcon {
  width: 48px;
  height: 2px;
  background-color: #C4C4C4;
  margin: auto;
}

.contents > .contents__moneybox {
  width: 308px;
  height: 49px;
  margin: 21px auto 17px;
  overflow: hidden;
  position: relative;
}
.contents > .contents__moneybox > .moneybox__slider {
  width: 470px; /* 수정 */
  height: 47px;
  display: flex;
  justify-items: left;
  align-items: center;
  position: absolute;
  top: 0;
  left: 0;
  pointer-events: none;
}
.contents > .contents__moneybox > .moneybox__slider > li {
}
.contents > .contents__moneybox > .moneybox__slider > li ~ li {
  margin-left: 13px;
}
.contents > .contents__moneybox > .moneybox__slider > li > .outBox {
  position: relative;
  display: flex;
  align-items: center;
  width: 162px;
  height: 47px;
  border-radius: 6px;
  background-color: #DADADA;
  overflow: hidden;
  font-size: 12px;
}
.contents > .contents__moneybox > .moneybox__slider > li > .outBox > .goals {
  position: absolute;
  top: 5px;
  left: 13px;
  bottom: 7px;
  margin-bottom: 7px;
  color: #FFF;
  font-size: 12px;
  line-height: 1.5;
}
.contents > .contents__moneybox > .moneybox__slider > li > .outBox > .goals > .goals__name {
  display: block;
}
.contents > .contents__moneybox > .moneybox__slider > li > .outBox > .goals > .goals__money {
  display: block;
}
.contents > .contents__moneybox > .moneybox__slider > li > .outBox > .innerBox1 {
  width: 97px;
  height: 47px;
  /* background-color: #FF5F00; */
}
.contents > .contents__moneybox > .moneybox__slider > li > .outBox > .innerBox2 {
  width: 121px;
  height: 47px;
  /* background-color: #FEB700; */
}
.contents > .contents__moneybox > .moneybox__slider > .addMoneybox {
  margin-left: 17px;
  font-size: 12px;
  line-height: 1.5;
  display: flex;
  align-items: center;
  color: #FF5F00;
}
.contents > .contents__moneybox > .moneybox__slider > .addMoneybox > a {
  display: flex;
  align-items: center;
}
.contents > .contents__moneybox > .moneybox__slider > .addMoneybox > div {
  margin-left: 5px;
}


/* history */
.contents__history {
  position: relative;
  width: 303px;
  height: 637px;
  padding: 0 36px;
  overflow: hidden;
}
.contents__history > .dailyHistory {
  position: absolute;
  top: 0;
  pointer-events: none;
  width: 302px;
  color: #444444;
  background-color: #F5F5F5;
  transition: 0.2s;
}
.contents__history > .dailyHistory > .dailyHistory__li {
  width: 302px;
}
.contents__history > .dailyHistory > .dailyHistory__li ~ .dailyHistory__li {
  margin-top: 38px;
}
.contents__history > .dailyHistory > .dailyHistory__li > .date__sum {
  width: 302px;
  height: 21px;
  position: relative;
  font-size: 14px;
  line-height: 1.5;
}
.contents__history > .dailyHistory > .dailyHistory__li > .date__sum > .date {}
.contents__history > .dailyHistory > .dailyHistory__li > .date__sum > .sum {
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
  margin: auto 0;
  color:#B4B4B4;
}
.contents__history > .dailyHistory > .dailyHistory__li > .historyDetails {
}
.contents__history > .dailyHistory > .dailyHistory__li > .historyDetails > .historyDetails__li {
  position: relative;
  width: 302px;
  margin-top: 8px;
  display: flex;
  align-items: center;

  font-size: 18px;
  line-height: 1.5;
  padding-bottom: 7px;
  font-weight: 400;
  border-bottom: 1px solid #B4B4B4;
}
.contents__history > .dailyHistory > .dailyHistory__li > .historyDetails > .historyDetails__li > .historyDetails__price {
  position: absolute;
  top: 0;
  right: 0;
  height: 27px;
  font-weight: 300;
}


/* nav */
.wrap > nav {
  position: absolute;
  bottom: 0;
  right: 0;
  width: 375px;
  height: 76px;
  z-index: 2;
}

.wrap > nav > ul {
  display: flex;
  width: 305px;
  height: 20px;
  background: linear-gradient(163.63deg, #00BDB2 11.35%, #C4E7B8 139.96%);
  padding: 28px 35px;
  align-items: center;
}
div > nav > ul > li {}
div > nav > ul > li:first-child { margin-left: 13px; }
div > nav > ul > li ~ li { margin-left: 60px; }
div > nav > ul > li > a {}
div > nav > ul > li > a > img{}
div > nav > ul > li:last-child > a > img {
}

/* 사이드 버튼 */
.leftSideButton {
  position: absolute;
  width: 30px;
  height: 692px;
  top: 10%;
  left: 0;
}
.rightSideButton {
  position: absolute;
  width: 30px;
  height: 692px;
  top: 10%;
  right: 0;
}