/* reset */
body { 
  font-size: 0;
  margin: 0;
  padding: 0;
}

/* nav */
div > nav {}
div > nav > ul {
  display: flex;
  width: 305px;
  height: 20px;
  background-color: #00BDB2;
  padding: 28px 35px;}
div > nav > ul > li {}
div > nav > ul > li:first-child { margin-left: 13px; }
div > nav > ul > li ~ li { margin-left: 60px; }
div > nav > ul > li > a {}
div > nav > ul > li > a > img{}